<%- include('partials/header.ejs') %>

<div class="about">
<h1>About Us</h1>
<hr>
<p> 
    Welcome to The Daily Blog! We’re passionate about sharing fresh stories, 
    insights, and ideas every day.
</p>
<p>Our mission is to inspire and connect 
    with readers who love discovering new perspectives.
</p>
<p>
    Whether it’s life tips, 
    personal reflections, or creative thoughts, we’ve got something for you.
</p>
<p>
    Join our community and let’s 
    explore the world together! 
</p>
</div>


<%- include('partials/footer.ejs') %>