<%- include('partials/header.ejs') %>


<section class="contact-section">
    <h1>Contact Us</h1>
    <p>We’d love to hear from you! Have questions, feedback, or ideas to share? Reach out to us at <a href="mailto:contact@thedailyblog.com">contact@thedailyblog.com</a> or fill out the form below. You can also follow us on social media for updates and more. Let’s stay connected!</p>

    <!-- Contact Form -->
    <form class="contact-form">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
        <button type="submit" onclick="return alert(`Thank you for contact`)">Send Message</button>
    </form>

    <!-- Social Media Links -->
    <div class="social-links">
        <a href="/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </div>
</section>



<%- include('partials/footer.ejs') %>